
<%- include("header") -%>



     <!-- Title -->
     
  <div class="row">
<div class="col-lg-6">
<h3 class="text-up">YOUR OWN </h3>
<h1 class="big-heading">DELIVERY SERVICE</h1>
<h3 class="text-down">GUY</h3>
<img class=" pic_2" src="pic/delivery-boy.png">
<img class="pic_3" src="pic/line.png" >
</div>

</div>
    

  
</div>
</section>

<!-- features -->
<section class="sec_2" id="features">
  <div class="container px-4 py-5" id="custom-cards">
    

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4  ">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg card_1" style="background-image: url('pic/foodora-gf1528975d_1920.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" >FOOD DELIVERY</h2>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg card_2" style="background-image: url('pic/scooter-g3aa43628e_1920.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" >PICK AND DROP</h2>
            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg card_3" style="background-image: url('pic/supermarket-g207a37bae_1920.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">GROCERIES AND ESSENTIALS </h2>
            
          </div>
        </div>
      </div>
      <div class="col lastcol">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg card_4" style="background-image: url('pic/network-gfa292b2ee_1920.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" >ACROSS CITY</h2>
           
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

<!-- contact us-->
<section class="sec_3" id="download_1">

<div class="container-fluid last">

  <div class="row">
    <div class="col-lg-6">
      <h3 class="lwr heading_l">NOW DELIVERY AT YOUR</h3>
      <h1 class="lwr_1 heading_l">FINGER TIPS</h1>
      <div class="col-lg-6"> <img class=" pic_4" src="pic/delivery-bike.png">
        <button class="download-button btn btn-lg btn-dark btn_1" type="button"><i class="fab fa-apple"></i> Download</button>
        <button class="download-button btn btn-lg brn-light btn_2 " type="button"><i class="fab fa-google-play"></i> Download</button></div>
     
     
    </div>
    
    </div>
          

</div>
</section>
<!-- Footer -->


<%- include("footer") -%>
